<div class="card mt-4">
    <div class="card-header">Comments</div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <!-- Commenter Profile Picture -->
        <img src="commenter-picture.jpg" alt="Commenter's Profile Picture" class="img-fluid rounded-circle" width="30">
        <!-- Commenter Name -->
        <span class="ml-2">Some comment</span>
        <!-- Comment Text -->
        <p class="mt-2">Blablablablabla</p>
      </li>
      <!-- More comments can be added in a similar format -->
    </ul>
</div>