<style>
  /* Define the fade-in and slide-up animation */
  .fade-in-and-slide-up {
    opacity: 0;
    transform: translateY(50px); /* Initial position, you can adjust the value as needed */
    animation: fadeInAndSlideUp 1s ease forwards;
  }

  @keyframes fadeInAndSlideUp {
    from {
      opacity: 0;
      transform: translateY(50px); /* Initial position */
    }
    to {
      opacity: 1;
      transform: translateY(0); /* Final position */
    }
  }
</style>

<div class="container-fluid mt-4 fade-in-and-slide-up">
    <app-journal-entry ></app-journal-entry>
</div>