<!-- home.component.html -->
<style>
  * {
    border-radius: 0px;
  }

  .navbar {
    margin-bottom: 30px;
  }

  .hero {
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .hero h1 {
    margin-bottom: 20px;
  }

  .hero .lead {
    margin-bottom: 30px;
  }

  .hero .btn {
    width: 100%;
    margin-bottom: 10px;
  }
</style>

<div class="container-fluid">
  <header class="bg-dark text-white">
    <nav class="navbar navbar-expand-lg navbar-dark">
      <a class="navbar-brand" routerLink="/">Player voice</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/about">MyGame</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/services">MyCommunity</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <section class="hero">
    <div class="container text-center">
      <h1 class="display-4">Welcome to Player Voice</h1>
      <p class="lead">Here to help you both on and off the pitch.</p>
      <div class="row">
        <div class="col-md-6">
          <a class="btn btn-lg btn-outline-success" routerLink="/mygame">MyGame</a>
        </div>
        <div class="col-md-6">
          <a class="btn btn-lg btn-outline-success" routerLink="/mycommunity">MyCommunity</a>
        </div>
      </div>
    </div>
  </section>
</div>

  <!-- Add more sections for different content as needed -->

  <!-- <footer class="bg-dark text-white py-3">
    <div class="container">
      <p>&copy; 2023 Your Website</p>
      <div class="social-icons">
      </div>
    </div>
  </footer> -->